header{
    background-color: #150e56;
    height: 2rem;
    display: flex;
    
    button{
        height: 100%;
        width: 4rem;
        background: #150e56;
        color: #8fd6e1;
        box-shadow: none;
        border: 0; 
        transition: 0.3s;
        }
    button:hover{
        background: #1597bb;

    }
    button:focus{
        border: none;
        box-shadow: none;
        background: #1597bb;
        outline: none;
    }
}